{% extends "base.html" %}{% load static %}
{% block body %}
<main class="jcf-auth">
    <div class="jcf-auth__form"><div class="jcf-auth__inner">
        {% block auth_content %}{% endblock %}
        <p class="jcf-auth__footer">For the Foundation’s staff and coordinators.<br>&copy; {% now "Y" %} Jan Cosmic Foundation</p>
    </div></div>
    <div class="jcf-auth__photo" style="background-image:url({% static 'paces/images/auth-jcf.jpg' %})">
        <div class="jcf-auth__caption"><p>The work behind a living community.</p><small>A shared home for teaching, practice, and service.</small></div>
    </div>
</main>
{% include "partials/_messages.html" %}
{% endblock %}
