{% extends "layouts/dashboard.html" %}

{% block title %}{% if form.instance.pk %}Edit gallery item{% else %}Add gallery item{% endif %} | JCF Management{% endblock %}
{% block page_title %}{% if form.instance.pk %}Edit gallery item{% else %}Add gallery item{% endif %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard:analytics' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'website:gallery_list' %}">Gallery</a></li>
<li class="breadcrumb-item active">{% if form.instance.pk %}Edit{% else %}Add{% endif %}</li>
{% endblock %}

{% block content %}
{% url 'website:gallery_list' as cancel_url %}
<form method="post" enctype="multipart/form-data" class="jcf-form">
    {% csrf_token %}
    {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors|join:" " }}</div>{% endif %}

    <section class="card">
        <div class="jcf-card-body">
                <div class="row g-3">
                    <div class="col-sm-8">{% include "partials/_field.html" with field=form.title %}</div>
                    <div class="col-sm-4">{% include "partials/_field.html" with field=form.date %}</div>
                    <div class="col-12">{% include "partials/_field.html" with field=form.description %}</div>
                    <div class="col-sm-6">{% include "partials/_field.html" with field=form.type %}</div>
                    <div class="col-sm-6">{% include "partials/_field.html" with field=form.category %}</div>
                    <div class="col-sm-6">{% if form.instance.image %}<img src="{{ form.instance.image.url }}" alt="" class="jcf-current-file">{% endif %}{% include "partials/_field.html" with field=form.image %}</div>
                    <div class="col-sm-6">{% if form.instance.thumbnail %}<img src="{{ form.instance.thumbnail.url }}" alt="" class="jcf-current-file">{% endif %}{% include "partials/_field.html" with field=form.thumbnail %}</div>
                    <div class="col-12">{% include "partials/_field.html" with field=form.video_url label="Video link" help="YouTube or Vimeo, for video items." %}</div>
                    <div class="col-12">{% include "partials/_field.html" with field=form.is_published label="Published on the website" %}</div>
                </div>
        </div>
    </section>

    {% if form.instance.pk %}
    {% include "partials/_form_actions.html" with cancel_url=cancel_url submit_label="Save changes" %}
    {% else %}
    {% include "partials/_form_actions.html" with cancel_url=cancel_url submit_label="Add gallery item" %}
    {% endif %}
</form>
{% endblock %}
