{% extends "layouts/dashboard.html" %}

{% block title %}{% if form.instance.pk %}Edit author{% else %}Add author{% endif %} | JCF Management{% endblock %}
{% block page_title %}{% if form.instance.pk %}Edit author{% else %}Add author{% endif %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard:analytics' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'blog:author_list' %}">Authors</a></li>
<li class="breadcrumb-item active">{% if form.instance.pk %}Edit{% else %}Add{% endif %}</li>
{% endblock %}

{% block content %}
{% url 'blog:author_list' as cancel_url %}
<form method="post" enctype="multipart/form-data" class="jcf-form">
    {% csrf_token %}
    {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors|join:" " }}</div>{% endif %}

    <section class="card">
        <div class="jcf-card-body">
                <div class="row g-3">
                    <div class="col-sm-6">{% include "partials/_field.html" with field=form.name %}</div>
                    <div class="col-sm-6">{% include "partials/_field.html" with field=form.role %}</div>
                    <div class="col-12">{% if form.instance.avatar %}<img src="{{ form.instance.avatar.url }}" alt="" class="jcf-current-file">{% endif %}{% include "partials/_field.html" with field=form.avatar label="Photo" %}</div>
                    <div class="col-12">{% include "partials/_field.html" with field=form.bio %}</div>
                </div>
        </div>
    </section>

    {% if form.instance.pk %}
    {% include "partials/_form_actions.html" with cancel_url=cancel_url submit_label="Save changes" %}
    {% else %}
    {% include "partials/_form_actions.html" with cancel_url=cancel_url submit_label="Add author" %}
    {% endif %}
</form>
{% endblock %}
