{% extends "layouts/dashboard.html" %}

{% block title %}Tags | JCF Management{% endblock %}
{% block page_title %}Tags{% endblock %}
{% block page_subtitle %}Used to group blog posts on the website.{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dashboard:analytics' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'blog:post_list' %}">Blog</a></li>
<li class="breadcrumb-item active">Tags</li>
{% endblock %}

{% block page_actions %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal"><i class="ph ph-plus" aria-hidden="true"></i>Add tag</button>
{% endblock %}

{% block content %}
<div class="card jcf-list">
    <div class="table-responsive">
        <table class="table jcf-table mb-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                    <th class="text-end">Posts</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                <tr>
                    <td class="jcf-cell-title">{{ tag.name }}</td>
                    <td><code>{{ tag.slug }}</code></td>
                    <td class="text-end jcf-num">{{ tag.posts.count }}</td>
                </tr>
                {% empty %}
                {% include "partials/_empty_row.html" with colspan=3 icon="tag" title="No tags yet" %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalTitle" aria-hidden="true"{% if form.errors %} data-jcf-open{% endif %}>
    <div class="modal-dialog modal-dialog-centered">
        <form method="post" action="{% url 'blog:tag_create' %}" class="modal-content">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="addModalTitle">Add tag</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-12">{% include "partials/_field.html" with field=form.name %}</div>
                    <div class="col-12">{% include "partials/_field.html" with field=form.slug help="Leave blank to create one from the name." %}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add tag</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
