{% comment %}
Shared body for the grant and extend modals. Both post to different URLs but
collect the same information: how long, how much, and what receipt it came from.
{% endcomment %}
<div class="row g-3">
    <div class="col-12">{% include "partials/_field.html" with field=form.duration %}</div>
    <div class="col-12 d-none" data-custom-date>{% include "partials/_field.html" with field=form.custom_expires_at %}</div>
    <div class="col-12">{% include "partials/_field.html" with field=form.access_level %}</div>
    <div class="col-7">{% include "partials/_field.html" with field=form.amount %}</div>
    <div class="col-5">{% include "partials/_field.html" with field=form.currency %}</div>
    <div class="col-12">{% include "partials/_field.html" with field=form.receipt_ref %}</div>
    <div class="col-12">{% include "partials/_field.html" with field=form.note %}</div>
</div>
