{% load static %}
<!doctype html>
<html lang="en" data-skin="vivid">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}JCF Management{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'paces/images/favicon.ico' %}" />

    {% block extra_css %}{% endblock %}

    <!-- Theme Config Js -->
    <script src="{% static 'paces/js/config.js' %}"></script>

    <!-- Vendor css -->
    <link href="{% static 'paces/css/vendors.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- App css -->
    <link id="app-style" href="{% static 'paces/css/app.min.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    {% block body %}{% endblock %}

    <!-- Vendor js -->
    <script src="{% static 'paces/js/vendors.min.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'paces/js/app.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>
